.transparent-white-background {
  text-align: center;
  width: max-content;
  padding: 2em;
  border-radius: 15px;
  margin-top: 2em;
}

h1 {
  padding-bottom: 1em;
}

.contact-email {
  padding-top: 1em;
  font-size: 1.2em;
}