<div id="welcome-container" class="center">
  <h1 class="center-text">Welcome to ChatBuds!</h1>
 
  <p>ChatBuds gives an opportunity to meet unexpected friends all over the world!</p>
  
  <p>
    To get chatting buddies you simply join a line and get matched with an other user in the line.
    Then you get redirected to a private chat with this user were you can chat and get to know each other.
    If you feel like becoming friends then you can send away a friend request and then you can always chat with them.
    If it doesn't go good then you can at any point choose to find a new chatting buddy and the process starts over.
  </p>
  
  <p>
    No conversations in ChatBuds are stored persitantly, so you can be assured of your own privacy.
  </p>
  
  <p>
    More information about ChatBuds and what data we store you can find  
    <a [routerLink]="['/information']">here</a>
  </p>
</div>
