footer {
  background-color: #11acc0;
}

#footer-links {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  gap: 6%;
}

#footer-links a {
  box-sizing: border-box;
  border-bottom: 1px solid #11acc0;
}

#footer-links a:link, #footer-links a:visited {
  color: #ffffff;
}

#footer-links a:hover, #footer-links a:active {
  border-bottom: 1px solid #ffffff;
}

#footer-made-by {
  color: #ecfdff;
  font-size: 0.8em;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1em;
  margin: 0;
}