#random-chat-left {
  /*Centering the element*/
  position: absolute;
  width: max-content;
  top: 50%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  transform: translate(0, -50%);
}
