:host {
  position: absolute;
  left: 50%;
  z-index: 1000;
  transform: translate(-50% , 0);
}

.alert {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: inherit;
  margin: 0 auto;
}

p {
  display: inline;
  text-align: center;
  margin: 0;
  padding: 0.5em 1em
}

.close {
  background-color: transparent;
  padding: 0 10px;
  margin: 0;
  margin-left: auto;
  font-size: 30px;
  border: none;
}

.friend-request div button {
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0.2em;
}

.success {
  background-color: #26DDA1;
}

.warning {
  background-color: #e94745;
}

.info {
  background-color: #e4d871;
}

.friend-request {
  background-color: #6DD2E0;
  border: 1px solid #206f83;
}
