.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "friends-list home-main";
  justify-items: center;
}

#friends-list {
  grid-area: friends-list;
}

#home-main {
  grid-area: home-main;
  margin-bottom: 2em;
}
