.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "friend-list home-main";
  height: 100%;
}

#friend-list {
  grid-area: friend-list;
}

#home-main {
  grid-area: home-main;
  margin-top: 2em;
  margin-bottom: 2em;
}
