<div class="filler"></div>
<div class="wrapper-round absolute-center">
  <h1>Login</h1>
  
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-section">
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email" required>
    </div>
  
    <div class="form-section">
      <label for="password">Password:</label> 
      <input id="password" type="password" formControlName="password" required>
    </div>
  
    <button class="center" type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</div>
