h2 {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  padding: 0.5em 0;
}

#friend-list {
  background-color: #57cfdf;
  height: 100%;
}

#friend-list ul {
  margin: 0;
  padding: 0;
}

.friend-in-list {
  background-color: #f5feff;
  padding: 0.8em 0.5em;
  border-left: 4px solid;
  border-right: 4px solid;
  border-color: #57cfdf;
  border-radius: 10px;
  max-width: 300px;
  margin: 5px auto;
  cursor: pointer;
}

.friend-in-list:hover, .friend-in-list:active {
  background-color: #d5f9fd;
}
