header {
  display: grid;
  grid-template-areas: 
  "home-link auth-bar";
  padding: 1em;
  background-color: #0065b8;
  justify-content: space-between;
}

#home-link {
  grid-area: home-link;
  margin: 0.2em 0;
  margin-left: 0.5em;
  font-size: 2.2em;
  font-weight: bold;
}

a:link, a:visited {
  color: #ecfdff;
}

a:hover, a:active {
  color: #ffffff;
}

#auth-bar {
  grid-area: auth-bar;
  margin-right: 2em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
}

nav li a {
  box-sizing: border-box;
  font-size: 1.1em;
  background-color: #0065b8;
  margin-left: 0.5em;
  display: inline-block;
  padding: 0.5em 0.5em;
  border-bottom: 1px solid #0065b8;
}

nav li a:hover, nav li a:active {
  border-bottom: 1px solid #ffffff;
}