.home-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "friend-list home-main";
  height: 100%;
}

app-friend-list {
  margin-top: 2em;
  grid-area: friend-list;
}

p.slogan {
  color: #7dedfc;
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

#random-chat-describtion-container {
  background-color: #f4feff1c;
  margin-left: auto;
  padding: 0.2em 1em;
  max-width: max-content;
}

#home-main {
  grid-area: home-main;
  margin: 2em 6%;
}

#random-chat-describtion {
  display: inline-block;
  line-height: 2em;
  margin-right: 6em;
}

#find-chatbuddy-button {
  display: inline-block;
}
