h2 {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  padding: 0.5em 0;
}

button {
  margin: 2em auto 2em auto;
}

#friend-list {
  display: flex;
  flex-direction: column;
  background-color: #57c4df;
  height: 100%;
}

#friend-list ul {
  margin: 0;
  padding: 0;
  max-height: 560px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f5feff #bfeffc;
}

#friend-list ul::-webkit-scrollbar {
  width: 6px;
  background-color: #bfeffc;
}

#friend-list ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f5feff;
}

.friend-in-list {
  background-color: #f5feff;
  padding: 0.8em 0.5em;
  border-left: 4px solid;
  border-right: 4px solid;
  border-color: #57c4df;
  border-radius: 10px;
  max-width: 300px;
  margin: 5px auto;
  cursor: pointer;
}

.friend-in-list:hover, .friend-in-list:active {
  background-color: #d5f9fd;
}
