@charset "UTF-8";

html {
  font-size: 16px;
  font-family: "Noto Sans", Helvetica, sans-serif, Arial;
}

html, body {
  height: 100%;
  color: #000000;
}

html, body, nav, header, main, aside, footer, section, div, figure, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #d9edfd;
  background: linear-gradient(180deg, #0065b8 94.06px,  #fbfeff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  min-height: calc(100% - 86.06px); /* Subtract height of header */
  position: relative;
}

/*********** Font styles ************/
h1, h2, h3 {
  color: #112a57;
}

/*********** General styles ***********/
.center {
  margin-left: auto;
  margin-right: auto;
}

.absolute-center {
  position: absolute;
  width: max-content;
  top: calc(50% - 88.06px);
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  transform: translate(0, calc(-50% - -35px));
}

.center-text {
  text-align: center;
}

.offScreen {
  position: absolute;
  left: -100000px;
}

.filler {
  display: block;
  height: 4%;
}

.wrapper-round {
  width: max-content;
  border-radius: 35px;
  padding: 40px 60px;
  border: 5px solid #308edb;
  background-color: #fcfbf8;
}

.transparent-white-background {
  background-color: #d5fafd31;
}

/************** Images ***************/
.hamburger-icon {
  background-image: url(./assets/images/hamburgermenu.png);
  background-size: cover;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/*********** Form styles *************/
form input {
  box-sizing: border-box;
  display: block;
  font-size: 1.1em;
  padding: 0.4em 0.4em;
}

form input.ng-invalid {
  border-radius: 5px;
  border-left: 5px solid #e04a48;
}

form input.ng-valid {
  border-radius: 5px;
  border-left: 5px solid #52c586;
}

.form-section {
  position: relative;
  margin-bottom: 2.3em;
}

.validation-alert {
  color: #e04a48;
  font-size: 0.7em;
  position: absolute;
}

.validation-form-group-alert {
  color: #e04a48;
  font-size: 0.7em;
  position: absolute;
  top: 73px;
}

/*********** Button styles ************/
button {
  display: block;
  font-size: 1.2em;
  background-color: #82e7f5;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover, button:active {
  background-color: #b8f2fa;
}

button:disabled {
  background-color: #b8f2fa;
  cursor: initial;
}

/*********** Link styles ************/
a {
  text-decoration: none;
}

/*********** List styles ************/
li {
  list-style: none;
}

/*********** Chat styles ************/
.chat {
  max-width: 1000px;
  position: relative;
}

.message-input {
  display: block;
  width: 100%;
  background-color:#ecf9fa;
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  resize: none;
  font-family: inherit;
  height: 3em;
}

.chat-window {
  display: block;
  height: 62vh;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 1em;
  overflow-y: auto;
}

.chat-window .message {
  width: max-content;
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  margin: 1em 0;
}

.message-username {
  color: #404253;
  font-size: 0.9em;
  margin-left: 0.8em;
}

#public-chat .chat {
  max-width: 900px;
}

#public-chat .chat-window {
  height: 40vh;
}

#public-chat .message-input {
  height: 2.5em;
}

/* Display to the right for the user */
.current-user .message-username {
  text-align: end;
  margin-right: 0.8em;
}

.chat-window .message.current-user {
  margin-left: auto;
}

.chat-window p {
  font-size: 1.2em;
  margin: 0;
  padding: 0.4em 1.2em;
  border-radius: 0.8em;
  white-space: pre-line;
}

.chat-window .message p {
  background-color: #95e4ee;
}

.chat-window .message.current-user p {
  color: #ffffff;
  background-color: #096dc0;
}

.chat-form {
  display: flex;
}

.message-send {
  color: #ffffff;
  background-color: #0e72c4;
  font-size: 1.2em;
  border-collapse: collapse;
  border-radius: 0;
}

.message-send:hover, .message-send:active {
  background-color: #308edb;
}

.message-send:disabled {
  background-color: #7bbdf3;
}

.chat .errorMessage {
  position: absolute;
  left: 3px;
  bottom: 4.3em;
  color: #b62d2b;
}
