.information-container {
  background-color: #f9feff;
  padding: 0.5em 3%;
  margin: 2em auto 5em auto;
  border-radius: 15px;
  max-width: 1000px;
}

li {
  background-color: #d7ecff;
  max-width: 600px;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
}